@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Custom Utilities */
@layer utilities {
  .pattern-paper {
    background-color: #fafaf9;
    background-image: radial-gradient(#d6d3d1 0.5px, transparent 0.5px), radial-gradient(#d6d3d1 0.5px, #fafaf9 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  
  .pattern-grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}

/* Base Styles */
@layer base {
  :root {
    --background: #fafaf9; /* Stone-50 */
    --foreground: #18181b; /* Zinc-900 */
  }
  
  body {
    @apply bg-(--background) text-(--foreground) antialiased;
  }
}